body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  display: block;
  margin: 0px 0px;
}

.pageContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Side Nav Head */

.sideNavHead {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.sideNav {
  padding: 0px;
  color: #ffffff;
  width: 18%;
  height: 100%;
  background-color: #311d40;
}

.userAvatarContent {
  padding: 10 15px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userImage img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.userName {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.userName span:first-child {
  font-size: 16px;
  letter-spacing: 0.25px;
}

.userName span:last-child {
  font-size: 12px;
  margin-top: 5px;
  letter-spacing: 1px;
  font-weight: 50px;
}

.closeLogoDiv i {
  font-size: 40px;
  margin-top: 10px;
  cursor: pointer;
}

/* Side Nav List */

.navOptionsContainer {
  margin-top: 20px;
  height: fit-content;
  background-color: #311d40;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navOption {
  padding: 4px 8px 4px 8px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.navOption:hover {
  background-color: #53415f;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.people {
  background-color: #53415f;
  font-weight: bold;
  border-left: 2px solid #7484db;
}
.people .optionNumber {
  margin-left: -2px;
}

.navOption:nth-child(2) i:last-child {
  margin-left: auto;
  font-size: 17px;
}

.navOption:first-child {
  margin-bottom: 15px;
  border-bottom: 1px solid #432c53;
  padding-bottom: 20px;
}

.navOption:nth-child(6) {
  margin-bottom: 15px;
  border-bottom: 1px solid #432c53;
  padding-bottom: 20px;
}

.navOption:nth-child(8) {
  margin-left: 30px;
}

.navOption:nth-child(10) {
  margin-left: 30px;
}

.navOption:nth-child(11) {
  margin-bottom: 15px;
  border-bottom: 1px solid #432c53;
  padding-bottom: 20px;
}

.navBottomText {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  font-family: "Poller One", cursive;
  margin-top: calc(30% - 50px);
}

.optionNumber {
  background-color: #c5cbea;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 10px;
  color: #5262c0;
  border-radius: 3px;
  padding: 4px 0px 0px;
}

.logoAndName {
  display: flex;
  align-items: center;
}

.logoAndName i {
  color: #948b9b;
  font-size: 25px;
  margin-right: 15px;
}

.logoAndName span {
  color: #fefefe;
}

/* Main Section */

.mainSection {
  width: 90%;
}

/* Top bar */

.topBar {
  display: flex;
  padding: 10px 0px 0px 10px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  justify-content: space-between;
  align-items: center;
}

.topBar .peopleSection {
  font-size: 18px;
  color: #0b0c0c;
  border-bottom: 3px solid #7484db;
  font-weight: bold;
  padding: 10px;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: #eaf0f3;
  padding: 5px 10px;
  border-radius: 20px;
  width: 50%;
  height: 25px;
  margin-bottom: 10px;
}

.searchBar input {
  border: none;
  background-color: #eaf0f3;
  width: 100%;
}

.topBarActions {
  margin-bottom: 10px;
  margin-right: 20px;
}

.topBarActions ul {
  display: flex;
  list-style: none;
}

.topBarActions ul li {
  font-size: 25px;
  cursor: pointer;
  margin-right: 5px;
}

.notificationBell {
  position: relative;
  margin-right: 15px !important;
}

.notificationCount {
  position: absolute;
  background-color: #b50814;
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
  left: 13px;
  bottom: 14px;
  color: #ffffff;
}

.userAlphabet {
  font-size: 15px !important;
  background-color: #311d40;
  padding: 3px 5px;
  color: #ffffff;
}

/* Table Top Bar */

.tableTopBar {
  position: relative;
  padding: 10px 0px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allPeopleBox {
  padding: 8px 12px;
  border: 1px solid #948b9b;
  border-radius: 8px;
}

.allPeopleSection {
  display: flex;
  align-items: center;
}

.addNew {
  margin-left: 15px;
  background-color: #2b41b2;
  border-radius: 20px;
  padding: 8px 12px;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.addNew i {
  font-size: 10px !important;
  margin-left: 5px;
}

.allPeopleBox i {
  font-size: 13px !important;
  margin-left: 5px;
  color: #6a6e6f;
}

.addNew span {
  padding-right: 5px;
  padding: 8px 12px;
  border-right: 2px solid #1e2f927c;
}

.addNew:hover {
  background-color: #2c41b9;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.tablefiltersSection ul {
  padding-bottom: 10px;
  list-style: none;
  display: flex;
  margin-right: 15px;
}

.tablefiltersSection ul li {
  font-size: 25px;
  color: #6a6e6f;
  margin-left: 14px;
  cursor: pointer;
}

.tablefiltersSection ul li:hover {
  color: #432c53;
  transition: 0.1s ease-in;
}

.tablefiltersSection ul li:last-child {
  display: flex;
  align-items: center;
  font-size: 25;
}

.filterText {
  font-size: 17px !important;
  margin-left: 2px;
  margin-bottom: 2px;
}

/* Main table content */

.tableContent {
  width: 100%;
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
}

thead tr th:nth-child(2) {
  color: #1e3092;
}

thead tr {
  text-align: left;
}

.tableContent thead tr {
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.tableContent th,
.tableContent td {
  padding: 15px 15px;
}

thead tr th {
  color: #6a6e6f;
}

thead tr th div {
  display: flex;
  align-items: center;
}

thead tr th i {
  font-size: 20px;
  transform: rotate(360deg);
  margin-left: 2px;
}

thead tr th:hover {
  color: #1e3092;
  transition: 0.1s ease-in;
  cursor: pointer;
}

/* TBODY Styles */

table {
  border-collapse: collapse;
}

tbody tr,
thead tr {
  border-bottom: 1px solid #eeeeee;
  padding-top: 15px;
}

tbody tr td:first-child,
tbody tr td:nth-child(2),
tbody tr td:nth-child(4) {
  color: rgb(44, 36, 36);
}

tbody tr td:nth-child(2) {
  border-right: 1px solid #eeeeee;
}

tbody tr td {
  color: #505faa;
  font-weight: 600;
}

tbody tr td:first-child {
  text-align: right;
}

.nameInitials {
  background-color: #dce3e6;
  padding: 10px;
  border-radius: 50%;
}

/* User details section */

.rowDetailContainer {
  height: 85vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1000;
  position: absolute;
  right: 0px;
  width: 30%;
  opacity: 0px;
  top: -17px;
  background-color: #ffffff;
  margin-top: 19px;
  padding: 15px;
  overflow: scroll;
}

.rowDetailIcons {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

.rowDetailIcons i {
  cursor: pointer;
}

.rowDetailIcons i:hover {
  color: #1e3092;
  transition: 0.1s ease-in;
}

.rowDetailIcons div:last-child ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.rowDetailIcons div:last-child ul li {
  margin-left: 10px;
}

.rowDetailUserInfo {
  display: flex;
  align-items: center;
}

.rowDetailUserInitials {
  background-color: #dce3e6;
  padding: 10px;
  border-radius: 50%;
}

.rowDetailUserName {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.rowDetailUserName span:first-child {
  font-size: 20px;
}

.tabsContainer ul {
  padding-left: 0px;
  list-style: none;
  display: flex;
  border-bottom: 1px solid #eeeeee;
}

.tabsContainer ul li {
  font-size: 14px;
  font-weight: 600;
  padding: 20px;
  width: 25%;
  text-align: center;
}

.tabsContainer ul li:hover {
  border-bottom: 2px solid #2b41b2;
  padding: 20px;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.tabsContainer ul li:first-child {
  border-bottom: 2px solid #2b41b2;
  padding: 20px;
}

/* User details section */

.userDetailContainer {
  padding: 0px 20px;
}

.userNameDetail .userNameLabel span {
  color: #6e7072;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
}

.userNameDetail .userNameLabel span i {
  color: #b50814;
  font-size: 6px;
  margin-bottom: 10px;
  position: absolute;
  right: -9px;
  top: 4px;
}

.userNameDetail .userNameLabel {
  display: flex;
  justify-content: space-between;
}

.userNameDetail .name {
  font-size: 18px;
}

/* User company detail */

.userCompanyDetail {
  margin-top: 25px;
}

.userCompanyDetail .userCompanyLabel {
  color: #6e7072;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
}

.userCompanyDetail .name {
  font-size: 18px;
  color: #2b41b2;
  font-weight: 500;
}

/* User title detail */

.userTitleDetail {
  margin-top: 25px;
}

.userTitleDetail .userTitleLabel {
  color: #6e7072;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
}

.userTitleDetail .name {
  font-size: 18px;
  color: #918e97;
  font-weight: 500;
}

/* User email detail */

.userEmailDetail {
  margin-top: 25px;
}

.userEmailDetail .userEmailLabel {
  color: #6e7072;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
}

.userEmailDetail .name {
  font-size: 18px;
  color: #2b41b2;
  font-weight: 500;
}

/* User phone detail */

.userPhoneDetail {
  margin-top: 25px;
}

.userPhoneDetail .userPhoneLabel {
  color: #6e7072;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
}

.userPhoneDetail .name {
  font-size: 18px;
  color: #2b41b2;
  font-weight: 500;
}

/* User rating detail */

.userRatingDetail {
  margin-top: 25px;
}

.userRatingDetail .userRatingLabel {
  color: #6e7072;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
}

.userRatingDetail .name {
  font-size: 18px;
  color: #0b0c0c;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* User status detail */

.userStatusDetail {
  margin-top: 25px;
}

.userStatusDetail .userStatusLabel {
  color: #6e7072;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
}

.userStatusDetail .name {
  font-size: 18px;
  color: #0b0c0c;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* User status detail */

.userRecycledDetail {
  margin-top: 25px;
}

.userRecycledDetail .userRecycledLabel {
  color: #6e7072;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
}

.userRecycledDetail .name {
  font-size: 18px;
  color: #0b0c0c;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* User owner detail */

.userOwnerDetail {
  margin-top: 25px;
}

.userOwnerDetail .userOwnerLabel {
  color: #6e7072;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
}

.userOwnerDetail .name {
  font-size: 18px;
  color: #2b41b2;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* User assignee detail */

.userAssigneeDetail {
  margin-top: 25px;
}

.userAssigneeDetail .userAssigneeLabel {
  color: #6e7072;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
}

.userAssigneeDetail .name {
  font-size: 18px;
  color: #0b0c0c;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* User assignee detail */

.userAccountOwnerDetail {
  margin-top: 25px;
}

.userAccountOwnerDetail .userAccountOwnerLabel {
  color: #6e7072;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
}

.userAccountOwnerDetail .name {
  font-size: 25px;
  color: #2b41b2;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* User company size detail */

.userCompanySizeDetail {
  margin-top: 25px;
}

.userCompanySizeDetail .userCompanySizeLabel {
  color: #6e7072;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
}

.userCompanySizeDetail .name {
  font-size: 18px;
  color: #0b0c0c;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* CSS transitions */
